.animalClass{
    margin-left: 10px;
    margin-bottom: 10px;
}


/* #animal-form{
    float: right;
} */

.animalgif{
    width: 180px;
    height: 180px;
}

#animal-view{
    margin-top: 130px;
}
.text-center{
vertical-align: middle;
}
.form-inline {
    margin-top: 40px;
}


.jumbotron{
    background: rgba(100, 54, 54, 0.5); 
    background-attachment: fixed;
}

body { 
    background-image: url(./fezbot2000-756580-unsplash.jpg); 
    background-size: cover;
   
    background-attachment: fixed;

  }
p{
    margin-top: 10px;
    color:black;
    
}
.col-sm-3 {
   
    font-weight: bold;
    
}
